* {
    padding: 0;
    margin: 0;
    color: #fff;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif, Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    background-color: #000;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 26px 56px;
    position: absolute;
    z-index: 5;
    width: 100%;
}
header.a logo {
    display: block;
    gap: 15px;

}
.button {
    justify-content: left;
    padding-right: 50px;
    margin-right: 100px;
    width: 50px;

}
.logo img {
    display: flex;
    background-color: #000;
}
header div {
    text-align: right;
}
header a.button {
    background-color: #e50914;
    color: #fff;
    text-decoration: none;
    padding: 7px 17px;
    border-radius: 3px;
    display: inline-block;
}
div.splash div.background-img {
    max-width: 100%;
    opacity: 0.6;
}
div.splash {
    position: relative;
}
div.splash div.gradient {
    background-image: linear-gradient(to top, rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8)100%);
    position: absolute;
    inset: 0;
}
div.splash div.content {
    max-width: 655px;
    position: absolute;
    inset: 0;
    left: 50%;
    margin-left: -327.5px;
    display: grid;
    align-items: center;
    text-align: center;
}
div.splash h1, div.splash h2, div.splash h3 {
    font-weight: normal;
}
div.splash h1 {
    font-size: 3.125rem;
    font-weight: bold;
}
div.splash h2 {
    font-size: 1.625rem;
    margin-top: 13px;
    margin-bottom: 29px;
}
div.splash h3 {
    font-size: 1.2rem;
}
div.cta form {
    position: relative;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr max-content;
}
div.cta input {
    padding: 15px 10px;
    font-size: 1.2rem;
    width: 100%;
}
div.cta input ~ span {
    position: absolute;
    left: 12px;
    top: 19px;
    z-index: 3;
    color: #aaa;
    transition: all 0.15s ease;
    pointer-events: none;
}
div.cta input:focus {
    padding-top: 19px;
    padding-bottom: 11px;
}
div.cta input:focus ~ span {
    top: 4px;
    font-size: .8rem;
}
div.cta button {
    font-size: 1.625rem;
    padding: 12px 26px;
    background-color: #e50914;
    color: #fff;
    border: 0;
}


section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 46px;
    padding: 70px 35px;
    align-items: center;
    border-top: 8px solid #222;
}
section div.texts h1 {
    font-size: 3.125rem;
    margin-bottom: 8px;
}
section div.texts p {
    font-size: 1.625rem;
}
.media {
    position: relative;
}
.media .s1 img {
    width: 90%;
    position: relative;
    top: 0;
    left: 0;
    /*width: 293px;*/
}
.media.s1 video {
    position: absolute;
    top: 76px;
    right: 250px;
    left: 80px;
    z-index: -1;
    height: 70%;
    width: 80%;
   
    /*width: 455px;
    position: absolute;
    top: 10px;
    left: 50px;
    margin-left: 5px;
    padding: 70px;
    margin-bottom: 300px;
    z-index: -1;
    gap: 1px;*/
}

section:nth-child(even) div.texts {
    order: 2;
}
.media2 {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: -2;
}
section div.download {
    /*display: flex;
    background-color: #000;
    position: absolute;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 10px;
    bottom: 0px;
    left: 90px;
    width: 60%;
    margin-left: 100px;
    margin-top: 100px;
    z-index: 1;*/

    border: 2px solid #666;
    border-radius: 15px;
    padding: 10px ;
    height: 150px;
    text-align: center;
    align-items: center;   
    display: grid;
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    width: 280px;
    left: 50%;
    margin-left: -140px;
    background-color: #000;
    gap: 15px;
    grid-template-columns: max-content 1fr max-content;
}
.main {
    width: 800px;
}
section div.download img cover {
    /*width: 600px;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 75px;
    margin-top: 10px;
    margin-bottom: 30px;*/
    
    height: 75px;
    width: auto;
}
.download span {
    color: rgb(0, 113, 235);
}
section.last {
    border-bottom: 8px solid #222;
}

/*div.faq{
    padding: 70px 30px;
}
div.faq h1{
    font-size: 3.125rem;
    text-align: center;
}
div.questions{
    max-width: 635px;
    margin: 0 auto;
    font-size: 1.625rem;
}
div.question{
    position: relative;
    background-color: #303030;
}
div.question svg{
    width: 30px;
    height: 30px;
    right: 20px;
    top: 20px;
    position: absolute;
}
div.question div.header{
    padding: 20px 30px;
    border-bottom: 1px solid #000;
    cursor: pointer;


}
div.question div.content{
    padding: 30px;

}*/
.ptag {
    background-color: #303030;
    color: #fff;
    border: 1px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}
.header {
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
    padding-top: 60px;
}
.faq{
    margin-bottom: 1px;
}
div.faq h3 {
    font-weight: normal;
    text-align: center;
    margin: 40px 0 20px;
    
}
div.faq form {
    max-width: 635px;
    margin: 0 auto;
    margin-bottom: 10px;
    /*max-height: 600px;*/

}
.wrap {
    background-color: #000;
    color: #303030;
    margin: 0 auto;
    gap: 100px;
    margin-top: 0px;
    padding: 50px;
}
.pg a {
    color: #303030;
    text-decoration: none;
    position: relative;

}
ul {
    color: #303030;
}
li {
    list-style: none;
    color: #303030;
    
}
.list {
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding-left: 200px;
    padding-bottom: 40px;
    position: relative;
    margin: auto;
    gap: 1px;
}
.list a {
    color: #303030;
    text-decoration: none;

}